{% load static %}

{% load jalali_tags %}


{% include 'includs/header.html' %}

<!--begin::Toolbar-->
<div id="kt_app_toolbar" class="app-toolbar pt-4 pt-lg-7 mb-n2 mb-lg-n3">
    <!--begin::Toolbar container-->
    <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack flex-row-fluid">
        <!--begin::Toolbar container-->

        <div class="d-flex flex-column flex-row-fluid">
            <div class="page-title d-flex align-items-center me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">
                    لیست ماشین ها</h1>
                <!--end::Title-->
            </div>
        </div>
    </div>
</div>


<!--begin::Wrapper container-->
<div class="app-container container-xxl d-flex">
    <!--begin::اصلی-->
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <!--begin::Content wrapper-->
        <div class="d-flex flex-column flex-column-fluid">
            <!--begin::Content-->
            <div id="kt_app_content" class="app-content">
                <!--begin::Row-->
                <div class="row g-5 g-xl-8">
                    <!--begin::Col-->

                    <!--end::Col-->
                    <!--begin::Col-->
                    <div class="col-xl-6">
                        <!--begin::جداول Widget 2-->

                        <!--end::جداول Widget 2-->
                    </div>
                    <!--end::Col-->
                </div>
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% else %}
                        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endif %}
                {% endfor %}
                <form action="{% url 'operation_list'%}" >
                    <!--begin::کارت-->
                    <div class="card mb-7">
                        <!--begin::کارت body-->
                        <div class="card-body">
                            <!--begin::Compact form-->
                            <div class="d-flex align-items-center">
                                <!--begin::Input group-->
                                <div class="position-relative w-md-400px me-md-2  user_role">
                                    <i class="ki-outline ki-magnifier fs-3 text-gray-500 position-absolute top-50 translate-middle ms-6"></i>
                                    <input type="search" name="q" class="form-control form-control-solid ps-10"
                                           value="{{ request.GET.q }}" placeholder=" جستجو براساس  نام ماشین">
                                </div>
                                <!--end::Input group-->
                                <!--begin:عملیات-->
                                <div class="d-flex align-items-center">
                                    <button type="submit" class="btn btn-primary me-5">جستجو</button>

                                </div>
                                <!--end:عملیات-->
                            </div>
                            <!--end::Compact form-->
                            <!--begin::Advance form-->

                            <!--end::Advance form-->
                        </div>
                        <!--end::کارت body-->
                    </div>
                    <!--end::کارت-->
                </form>


                <div class="card mb-5 mb-xl-8">
                    <!--begin::Header-->
                    <div class="card-header border-0 pt-5">
                        <h3 class="card-title align-items-start flex-column">
                            <span class="card-label fw-bold fs-3 mb-1">لیست درخواست</span>

                        </h3>
                        <div class="card-toolbar">
                            <!--begin::Menu-->

                            <!--begin::Toolbar-->
                            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                                <!--begin::فیلتر-->

                                <!--begin::Menu 1-->

                                <!--end::Menu 1-->
                                <!--end::فیلتر-->
                                <!--begin::خروجی-->

                                <!--end::خروجی-->
                                <!--begin::افزودن user-->
                                <div class="card-header border-0 pt-6">
                                    <!--begin::کارت title-->
                                    <div class="card-title">
                                        <!--begin::جستجو-->

                                        <!--end::جستجو-->
                                    </div>
                                    <!--begin::کارت title-->
                                    <!--begin::کارت toolbar-->
                                    <div class="card-toolbar">
                                        <!--begin::Toolbar-->
                                        <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
                                            <!--begin::فیلتر-->

                                            <!--begin::Menu 1-->
                                            <div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px"
                                                 data-kt-menu="true">
                                                <!--begin::Header-->

                                                <!--end::Header-->
                                                <!--begin::Separator-->

                                                <!--end::Separator-->
                                                <!--begin::Content-->

                                                <!--end::Content-->
                                            </div>
                                            <!--end::Menu 1-->
                                            <!--end::فیلتر-->
                                            <!--begin::خروجی-->

                                            <!--end::خروجی-->
                                            <!--begin::افزودن user-->
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                    data-bs-target="#kt_modal_add_user">
                                                <i class="ki-outline ki-plus fs-2"></i>اضافه کردن دستگاه
                                            </button>
                                            <!--end::افزودن user-->
                                        </div>
                                        <!--end::Toolbar-->
                                        <!--begin::گروه actions-->

                                        <!--end::Modal - کارت جدید-->
                                        <!--begin::Modal - افزودن task-->
                                        <div class="modal fade" id="kt_modal_add_user" tabindex="-1"
                                             style="display: none;" aria-hidden="true">
                                            <!--begin::Modal dialog-->
                                            <div class="modal-dialog modal-dialog-centered mw-650px">
                                                <!--begin::Modal content-->
                                                <div class="modal-content">
                                                    <!--begin::Modal header-->
                                                    <div class="modal-header" id="kt_modal_add_user_header">
                                                        <!--begin::Modal title-->
                                                        <h2 class="fw-bold">اضافه کردن دستگاه</h2>
                                                        <!--end::Modal title-->
                                                        <!--begin::Close-->
                                                        <div class="btn btn-icon btn-sm btn-active-icon-primary"
                                                             data-kt-users-modal-action="close">
                                                            <i class="ki-outline ki-cross fs-1"></i>
                                                        </div>
                                                        <!--end::Close-->
                                                    </div>
                                                    <!--end::Modal header-->
                                                    <!--begin::Modal body-->
                                                    <div class="modal-body px-5 my-7">
                                                        <!--begin::Form-->
                                                        <form id="kt_modal_add_user_form"
                                                              class="form fv-plugins-bootstrap5 fv-plugins-framework"
                                                              action="{% url 'operation_add' %}" method="post">
                                                            {% csrf_token %}
                                                            <!--begin::Scroll-->
                                                            <div class="d-flex flex-column scroll-y px-5 px-lg-10"
                                                                 id="kt_modal_add_user_scroll" data-kt-scroll="true"
                                                                 data-kt-scroll-activate="true"
                                                                 data-kt-scroll-max-height="auto"
                                                                 data-kt-scroll-dependencies="#kt_modal_add_user_header"
                                                                 data-kt-scroll-wrappers="#kt_modal_add_user_scroll"
                                                                 data-kt-scroll-offset="300px"
                                                                 style="max-height: 152px;">
                                                                <!--begin::Input group-->

                                                                <!--end::Input group-->
                                                                <!--begin::Input group-->
                                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                                    <!--begin::Tags-->
                                                                    <label class=" fw-semibold fs-6 mb-2">نام
                                                                        ماشین</label>
                                                                    <!--end::Tags-->
                                                                    <!--begin::Input-->
                                                                    <input type="text" id="nameWithTitle"
                                                                           name="operationName"
                                                                           class="form-control form-control-solid mb-3 mb-lg-0"
                                                                           placeholder="نام کامل" value="">
                                                                    <!--end::Input-->
                                                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                                                </div>
                                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                                    <!--begin::Tags-->
                                                                    <label class=" fw-semibold fs-6 mb-2"
                                                                           for="area">سالن محل
                                                                        استفاده</label>
                                                                    <select class="form-control  fs-6 mb-2" name="area"
                                                                            id="area">
                                                                        {% for department in departments %}
                                                                            <option value="{{ department.id }}">{{ department.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <!--end::Input-->
                                                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                                                </div>
                                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                                    <!--begin::Tags-->
                                                                    <label class=" fw-semibold fs-6 mb-2" for="station">ایستگاه
                                                                        محل
                                                                        استقرار</label>
                                                                    <select name="station" id="station"
                                                                            class="form-control">
                                                                        {% for station in stations %}
                                                                            <option value="{{ station.id }}">{{ station.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <!--end::Input-->
                                                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                                                </div>
                                                                <!--end::Input group-->
                                                                <!--begin::Input group-->

                                                                <!--end::Input group-->
                                                                <!--begin::Input group-->

                                                                <!--end::Input group-->
                                                            </div>
                                                            <!--end::Scroll-->
                                                            <!--begin::Actions-->
                                                            <div class="text-center pt-10">
                                                                <button type="reset" class="btn btn-label-secondary"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close">لغو
                                                                </button>
                                                                <button type="submit" class="btn btn-primary"
                                                                        data-kt-users-modal-action="submit">
                                                                    <span class="indicator-label">ثبت</span>
                                                                    <span class="indicator-progress">لطفا صبر کنید...
																			<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                                </button>
                                                            </div>
                                                            <!--end::Actions-->
                                                        </form>
                                                        <!--end::Form-->
                                                    </div>
                                                    <!--end::Modal body-->
                                                </div>
                                                <!--end::Modal content-->
                                            </div>
                                            <!--end::Modal dialog-->
                                        </div>
                                        <!--end::Modal - افزودن task-->
                                    </div>
                                    <!--end::کارت toolbar-->
                                </div>
                                <!--end::افزودن user-->
                            </div>
                            <!--end::Toolbar-->
                            <!--begin::گروه actions-->

                            <!--end::Modal - افزودن task-->
                        </div>
                    </div>


                    <!--end::Header-->
                    <!--begin::Body-->
                    {% if operations %}

                        <!--end::Header-->
                        <!--begin::Body-->
                        <div class="card-body py-3">
                            <!--begin::Table container-->
                            <div class="table-responsive">
                                <!--begin::Table-->
                                <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                                    <!--begin::Table head-->
                                    <thead>
                                    <tr class="fw-bold text-muted">
                                        <th class="w-25px">
                                            <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                <input class="form-check-input" type="checkbox" value="1"
                                                       data-kt-check="true" data-kt-check-target=".widget-9-check">
                                            </div>
                                        </th>
                                        <th class="min-w-500px">نام ماشین</th>
                                        <th class="min-w-500px">تعداد سفارشات مربوطه</th>
                                        <th class="min-w-0px">عملیات</th>

                                    </tr>
                                    </thead>
                                    <!--end::Table head-->
                                    <!--begin::Table body-->
                                    <tbody>
                                    {% for machine in operations %}
                                        <tr>
                                            <td>
                                                <div class="form-check form-check-sm form-check-custom form-check-solid">
                                                    <input class="form-check-input widget-9-check" type="checkbox"
                                                           value="1">
                                                </div>
                                            </td>
                                            <td>
                                                <div class="d-flex align-items-center">

                                                    <div class="d-flex justify-content-start flex-column">
                                                        <a href="#"
                                                           class="text-dark fw-bold text-hover-primary fs-6">{{ machine.name }}</a>

                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="#"
                                                   class="text-dark fw-bold text-hover-primary d-block fs-6">{{ machine.order.all|length }}</a>

                                            </td>

                                            <td>
                                                <div class="d-flex justify-content-end flex-shrink-0">
                                                    {% if perms.base.change_operation %}
                                                        <a href="javascript:;" data-bs-toggle="modal"
                                                           data-bs-target="#editOperationModal_{{ machine.id }}"
                                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                                                            <i class="ki-outline ki-pencil fs-2"></i>
                                                        </a>
                                                        <div class="modal fade" id="editOperationModal_{{ machine.id }}"
                                                             tabindex="-1"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog modal-lg modal-dialog-centered modal-add-new-role">
                                                                <div class="modal-content p-3 p-md-5">
                                                                    <button type="button" class="btn-close btn-pinned"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    <div class="modal-body">

                                                                        <div class="text-center mb-4">
                                                                            <h3 class="role-title">ویرایش
                                                                            </h3>
                                                                        </div>
                                                                        <form id="kt_modal_add_user_form"
                                                                              class="form fv-plugins-bootstrap5 fv-plugins-framework"
                                                                              action="{% url 'operation_edit' machine.id %}"
                                                                              method="post">
                                                                            {% csrf_token %}
                                                                            <!--begin::Scroll-->
                                                                            <div class="d-flex flex-column scroll-y px-5 px-lg-10"
                                                                                 id="kt_modal_add_user_scroll"
                                                                                 data-kt-scroll="true"
                                                                                 data-kt-scroll-activate="true"
                                                                                 data-kt-scroll-max-height="auto"
                                                                                 data-kt-scroll-dependencies="#kt_modal_add_user_header"
                                                                                 data-kt-scroll-wrappers="#kt_modal_add_user_scroll"
                                                                                 data-kt-scroll-offset="300px"
                                                                                 style="max-height: 152px;">
                                                                                <!--begin::Input group-->

                                                                                <!--end::Input group-->
                                                                                <!--begin::Input group-->
                                                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                                                    <!--begin::Tags-->
                                                                                    <label class=" fw-semibold fs-6 mb-2">نام
                                                                                        ماشین</label>
                                                                                    <!--end::Tags-->
                                                                                    <!--begin::Input-->
                                                                                    <input type="text"
                                                                                           id="operationName"
                                                                                           name="operationName"
                                                                                           class="form-control"
                                                                                           value="{{ machine.name }}"
                                                                                           tabindex="-1"
                                                                                           required>
                                                                                    <!--end::Input-->
                                                                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                                                                </div>
                                                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                                                    <!--begin::Tags-->
                                                                                    <label class=" fw-semibold fs-6 mb-2"
                                                                                           for="area">سالن محل
                                                                                        استفاده</label>
                                                                                    <select class="form-control  fs-6 mb-2"
                                                                                            name="area"
                                                                                            id="area">
                                                                                        {% for department in departments %}
                                                                                            <option value="{{ department.id }}">{{ department.name }}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                    <!--end::Input-->
                                                                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                                                                </div>
                                                                                <div class="fv-row mb-7 fv-plugins-icon-container">
                                                                                    <!--begin::Tags-->
                                                                                    <label class=" fw-semibold fs-6 mb-2"
                                                                                           for="station">ایستگاه
                                                                                        محل
                                                                                        استقرار</label>
                                                                                    <select name="station" id="station"
                                                                                            class="form-control">
                                                                                        {% for station in stations %}
                                                                                            <option value="{{ station.id }}">{{ station.name }}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                    <!--end::Input-->
                                                                                    <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                                                                                </div>
                                                                                <!--end::Input group-->
                                                                                <!--begin::Input group-->

                                                                                <!--end::Input group-->
                                                                                <!--begin::Input group-->

                                                                                <!--end::Input group-->
                                                                            </div>
                                                                            <!--end::Scroll-->
                                                                            <!--begin::Actions-->
                                                                            <div class="text-center pt-10">
                                                                                <button type="reset"
                                                                                        class="btn btn-label-secondary"
                                                                                        data-bs-dismiss="modal"
                                                                                        aria-label="Close">لغو
                                                                                </button>
                                                                                <button type="submit"
                                                                                        class="btn btn-primary"
                                                                                        data-kt-users-modal-action="submit">
                                                                                    <span class="indicator-label">ثبت</span>
                                                                                    <span class="indicator-progress">لطفا صبر کنید...
																			<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                                                                                </button>
                                                                            </div>
                                                                            <!--end::Actions-->
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    {% endif %}
                                                    {% if user.is_superuser %}
                                                        <a href="javascript:;" data-bs-toggle="modal"
                                                           data-bs-target="#deleteOrderModal_{{ machine.id }}"
                                                           class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                                                            <i class="ki-outline ki-trash fs-2"></i>
                                                        </a>

                                                        <div class="modal fade" id="deleteOrderModal_{{ machine.id }}"
                                                             tabindex="-1"
                                                             aria-hidden="true">
                                                            <div class="modal-dialog modal-lg modal-dialog-centered modal-add-new-role">
                                                                <div class="modal-content p-3 p-md-5">
                                                                    <button type="button" class="btn-close btn-pinned"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                    <div class="modal-body">

                                                                        <div class="text-center mb-4">
                                                                            <h3 class="role-title">آیا میخواهید قطعه
                                                                                مرتبط
                                                                                با
                                                                                درخواست
                                                                                حذف
                                                                                شوند؟</h3>
                                                                        </div>
                                                                        <form method="post" class="row g-3"
                                                                              action="{% url 'archive-operation' machine.id %}">
                                                                            {% csrf_token %}
                                                                            <div class="col-12 text-center">
                                                                                <button type="submit"
                                                                                        name="type_of_delete"
                                                                                        value="delete_all"
                                                                                        class="btn btn-danger me-sm-3 me-1">
                                                                                    بله
                                                                                </button>


                                                                            </div>

                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                    <!--end::Table body-->
                                </table>
                                <!--end::Table-->
                            </div>
                            <!--end::Table container-->
                        </div>
                        <!--begin::Body-->
                        </div>
                        <div class="d   -flex flex-stack flex-wrap pt-10">
                            <div class="fs-6 fw-semibold text-gray-700"></div>
                            <!--begin::صفحات-->
                            {% if is_paginated %}
                                <ul class="pagination">

                                    {% if page_obj.has_previous %}
                                        <li class="page-item previous">
                                            <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link">
                                                <i class="previous"></i>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for num in page_obj.paginator.page_range %}
                                        {% if page_obj.number == num %}
                                            <a class="btn btn-primary btn-sm  paging" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                                               >{{ num }}</a>
                                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                            <a class="btn btn-outline-primary btn-sm  paging" href="?page={{ num }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}"
                                               >{{ num }}</a>
                                        {% endif %}
                                    {% endfor %}
{#                                    <li class="page-item active">#}
{#                                        <a href="#" class="page-link">1</a>#}
{#                                    </li>#}

                                {% if page_obj.has_next %}
                                    <li class="page-item next">
                                        <a href="?page={{ page_obj.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" class="page-link" >
                                            <i class="next"></i>
                                        </a>
                                    </li>
                                {% endif %}
                                </ul>
                                <!--end::صفحات-->
                            {% endif %}
                        </div>
                    {% else %}
                        <p>ماشینی ساخته نشده است</p>
                    {% endif %}
                <!--end::Content-->
            </div>
            <!--end::Content wrapper-->
            <!--begin::Footer-->
            <div id="kt_app_footer"
                 class="app-footer d-flex flex-column flex-md-row flex-center flex-md-stack pb-3">
                <!--begin::کپیright-->
                <div class="text-dark order-2 order-md-1">
                    <span class="text-muted fw-semibold me-1">2023&copy;</span>
                    <a href="https://keenthemes.com" target="_blank" class="text-gray-800 text-hover-primary">ساتراس
                        وب</a>
                </div>
                <!--end::کپیright-->
                <!--begin::Menu-->
                <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
                    <li class="menu-item">
                        <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">درباره ی ما</a>
                    </li>
                    <li class="menu-item">
                        <a href="https://rtl-theme.com" target="_blank" class="menu-link px-2">پشتیبانی</a>
                    </li>
                    <li class="menu-item">
                        <a href="https://www.rtl-theme.com/metronic-admin-html-template/" target="_blank"
                           class="menu-link px-2">خرید</a>
                    </li>
                </ul>
                <!--end::Menu-->
            </div>
            <!--end::Footer-->
        </div>
        <!--end:::اصلی-->
    </div>
    <!--end::Wrapper container-->
</div>
<!--end::Wrapper-->

<!--end::Modal - Users جستجو-->
<!--end::Modals-->
<!--begin::Javascript-->
<script>var hostUrl = "assets/";</script>
<!--begin::Global Javascript Bundle(mandatory for all pages)-->
<script src="{% static "assets/plugins/global/plugins.bundle.js" %}"></script>
<script src="{% static "assets/js/scripts.bundle.js" %}"></script>
<!--end::Global Javascript Bundle-->
<!--begin::Vendors Javascript(used for this page only)-->
<script src="{% static "assets/plugins/custom/datatables/datatables.bundle.js" %}"></script>
<!--end::Vendors Javascript-->
<!--begin::سفارشی Javascript(used for this page only)-->
<script src="{% static "assets/js/widgets.bundle.js" %}"></script>
<script src="{% static "assets/js/custom/widgets.js" %}"></script>
<script src="{% static "assets/js/custom/apps/chat/chat.js" %}"></script>
<script src="{% static "assets/js/custom/utilities/modals/users-search.js" %}"></script>
<script>
    async function changeStatus(orderId) {
        await fetch(`/order/change_status/${orderId}`).then((result) => {
            console.log(result)
        })
        let response = await fetch(`/order/change_status/${orderId}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        console.log(response)
    }
</script>
{#<script>#}
{#    function selectStatusAll() {#}
{#        $(".fav_clr > option").prop("selected", true);#}
{#        $(".fav_clr").trigger("change");#}
{#    }#}
{##}
{#    function selectOperatorAll() {#}
{#        $(".operator > option").prop("selected", true);#}
{#        $(".operator").trigger("change");#}
{#    }#}
{##}
{#</script>#}
<!--end::سفارشی Javascript-->
<!--end::Javascript-->
</body>
<!--end::Body-->
</html>