{% extends '../base.html' %}
{% load task %}
{% load static %}
{% load jalali_tags %}

{% block content %}

    <h4 class="py-3 breadcrumb-wrapper mb-2">مشاهده درخواست شروع به کار</h4>

    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger">{{ message }}</div>
        {% else %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endif %}
    {% endfor %}

    <div class="card">
        <div class="card-body">
            <div class="row g-3">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <td><b> درخواست کننده : </b> {{ task.order.user.profile }}</td>

                        <td><b> عملیات : </b> {{ task.order.operation }}</td>

                        <td><b> تاریخ درخواست : </b>
                            {{ task.order.createdAt|to_jalali:'%y/%m/%d' }}
                        </td>
                        <tr>
                            <td><b> واحد : </b>
                                واحد {{ task.order.user.profile.department.name }}
                            </td>
                            <td><b> زیرگروه : </b>
                                {% for sub in task.order.subGroup.all %}
                                    {{ sub.name }}
                                {% endfor %}
                            </td>
                            <td><b> شماره درخواست : </b> {{ task.order.orderId }}</td>
                        </tr>
                        <tr>
                            <td>شرح درخواست</td>
                            <td colspan="2">{{ task.order.description|safe }}</td>
                        </tr>
                        <tr>
                            <td>اپراتور تعمیرات</td>
                            <td colspan="2">
                                {% for operator in task.operators.all %}
                                    {{ operator.get_full_name }} |
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td>وضعیت درخواست</td>
                            <td colspan="2">
                                {{ task.order.get_status_display }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row g-3">
                <div class="table-responsive">
                    <br><h4>لیست کارهای انجام شده</h4>
                    {% with task.id as current_task_id %}
                        {% published_task task as published_task %}
                        {% for task in published_task %}
                            <div class="d-flex">
                                <div class="mb-3 col-11">
                                    <table class="table table-bordered text-center ">
                                        <tr>
                                            <td colspan="4">نام مجری : <b>{{ task.user.profile }}</b></td>
                                        </tr>
                                        <tr>
                                            <td rowspan="4" class="bg-label-github">
                                                تاریخ : <b>{{ task.date|to_jalali:'%y/%m/%d' }}</b>
                                            </td>
                                            <td>ساعت شروع : <b dir="ltr">{{ task.start_time|time:'H:i' }}</b></td>
                                            <td>ساعت پایان : <b dir="ltr">{{ task.end_time|time:'H:i' }}</b></td>
                                            <td>وضعیت :
                                                <span class="badge bg-label-success">{{ task.get_status_display }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>شرح فعالیت</td>
                                            <td colspan="3" style="text-align: justify;">{{ task.description }}</td>
                                        </tr>
                                        <tr>
                                            <td>شرح لوازم مصرفی</td>
                                            <td colspan="3" style="text-align: justify;">{{ task.description2 }}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-1 text-center align-self-center ">
                                    <button class="btn btn-primary w-50 mb-2">
                                        <a href=" {% url 'task_edit' task.id %}" class="text-white">
                                            <i class="bx bx-edit d-flex justify-content-center"></i>
                                        </a>
                                    </button>
                                    {% if task.id != current_task_id %}
                                        <form method="post" class=""
                                              action="{% url 'archive-task' task.id %}">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ current_task_id }}" name="detail">
                                            <button type="submit" class="btn btn-danger w-50">
                                                {#                                        <a href=" {% url 'archive-task' task.id %}?detail" class="text-white">#}
                                                <i class="bx bx-trash d-flex justify-content-center"></i>
                                                {#                                        </a>#}
                                            </button>
                                        </form>
                                    {% endif %}

                                </div>

                            </div>
                        {% endfor %}
                    {% endwith %}
                </div>
            </div>

            <a href="{% url 'task_invoice' task.id %}"
               class="btn btn-primary me-sm-3 me-1" target="_blank">پرینت
                درخواست</a>
        </div>

    </div>



{% endblock content %}